<launch>
    <arg name="robotname" default="none" />
    <arg name="initial_pose_x" default="10.58" />
    <arg name="initial_pose_y" default="25.60" />
    <arg name="initial_pose_a" default="0.0" />
    <arg name="laser_topic" default="scan" />


    <param name="robot_name" value="$(arg robotname)" />

    <!-- move_base -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find ra_action)/config/navigation/move_base_params.yaml" command="load" />
    <rosparam file="$(find ra_action)/config/navigation/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find ra_action)/config/navigation/global_costmap_params.yaml" command="load" />
    </node>


    <!-- amcl -->
    <node pkg="amcl" type="amcl" name="amcl" respawn="true">

    <remap from="scan" to="$(arg laser_topic)"/>

    <!-- Default parameters -->
    <rosparam file="$(find ra_action)/config/localization/amcl.yaml" command="load" />

    <!-- Set initial pose -->
    <param name="initial_pose_x" value="$(arg initial_pose_x)" />
    <param name="initial_pose_y" value="$(arg initial_pose_y)" />
    <param name="initial_pose_a" value="$(arg initial_pose_a)" />
    <param name="initial_cov_xx" value="0.25" />
    <param name="initial_cov_yy" value="0.25" />
    <param name="initial_cov_aa" value="0.25" />

    </node>

</launch>

